*
{
  padding:0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body{
  background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
}

    .main{
/*     
    From https://css.glass
background: rgba(98, 72, 72, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px); */

/* From https://css.glass */
background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.6px);
-webkit-backdrop-filter: blur(12.6px);
    }

    img
    {
/* From https://css.glass
background: rgba(81, 78, 78, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.5px);
-webkit-backdrop-filter: blur(12.5px);
border: 1px solid rgba(81, 78, 78, 0.29); */

    }
